layout {

    focus-ring {
        active-color   "#f2a169"
        inactive-color "#291d14"
        urgent-color   "#f2a169"
    }

    border {
        active-color   "#f2a169"
        inactive-color "#291d14"
        urgent-color   "#f2a169"
    }

    shadow {
        color "#291d1470"
    }

    tab-indicator {
        active-color   "#f2a169"
        inactive-color "#a84501"
        urgent-color   "#f2a169"
    }

    insert-hint {
        color "#f2a16980"
    }
}

recent-windows {
    highlight {
        active-color "#f2a169"
        urgent-color "#f2a169"
    }
}
