layout {
  focus-ring {
    active-gradient from="{{colors.tertiary.default.hex | set_saturation 80 | set_lightness 70 | set_alpha 0.8}}" to="{{colors.primary.default.hex | set_saturation 80 | set_lightness 70 | set_alpha 0.8}}" angle=45 in="oklch shorter hue"
    inactive-color "{{colors.primary.default.hex}}"
  }

  border {
    active-gradient from="{{colors.tertiary.default.hex | set_saturation 80 | set_lightness 70 | set_alpha 0.8}}" to="{{colors.primary.default.hex | set_saturation 80 | set_lightness 70 | set_alpha 0.8}}" angle=45 in="oklch shorter hue"
    inactive-color "{{colors.primary.default.hex}}"
  }
}

